<div class="row featurette">
  <div class="col-md-12">
    <div class="row lower-subtitles">
        <h3>Asociaciones</h3>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h4>Asociación FOM</h4>
        <p>
          Asociación de Médicos Exresidentes y Residentes de Cirugía Plástica y Reconstructiva,
          </br>"Dr. Fernando Ortiz Monasterio"
          </br>Diciembre 1990, México, DF.
        </p>
      </div>
      <div class="col-sm-3">
        <h4>AMCPER</h4>
        <p>
          Asociación Mexicana de Cirugía Plástica Estética y Reconstructiva
        </p>
      </div>
      <div class="col-sm-3">
        <h4>CNCPER</h4>
        <p>
          Colegio Noreste de Cirugía Plástica, Estética y Reconstructiva, A.C.
        </br>Mayo 1993, Monterrey, N.L.
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Casa Azul</h4>
        <p>
          Para el Apoyo, Tratamiento e Investigación de las Alteraciones Craneofaciodentales, A.C.
        </br>Julio 2003, Monterrey, N.L
        </p>
      </div>
    </div>
  </div>
</div>
