<div class="row featurette">
  <div class="col-md-12">
    <div class="row lower-subtitles">
        <h3>Publicaciones</h3>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h4>Revista de Asociación Mexicana de Cirugía Plástica, A.C.</h4>
        <p>
          Reconstrucción Auricular en Pacientes con Implantes Pilosa Baja (Elevación de la línea de implantación del pelo en pacientes de
          reconstrucción auricular con microsomia hemifacial)
        </p>
        <p>
          1997
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Aesthetic Plastic Surgery</h4>
        <p>
          Circular Lipectomy with Lateral Thigh-Buttock Lift
          Volumen 27, Número 1
        </p>
        <p>
          Enero/Febrero 2003<br>
          Paginas 50 a 57
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Body Contouring: Art, Science and Clinical practice</h4>
        <p>
          Circular Lipectomy with Lateral Thigh-Buttock Lift<br>
          Capítulo 25
        </p>
        <p>
          Melvin A. Shiffman <br>
          Alberto di Giuseppe <br>
          Editores
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Body Contouring: Art, Science and Clinical practice</h4>
        <p>
          Capítulo 66
        </p>
        <p>
          Melvin A. Shiffman <br>
          Alberto di Giuseppe <br>
          Editores
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4>Cosmetic Surgery: Art and Techniques</h4>
        <p>
          Circular Lipectomy with Lateral Thigh-Buttock Lift
        </p>
        <p>
          Melvin A. Shiffman <br>
          Alberto di Giuseppe <br>
          Editores
        </p>
      </div>
    </div>
  </div>
</div>
