<div class="row featurette">
  <div class="col-md-12">
    <div class="row lower-subtitles">
        <h3>Fellows</h3>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h4>Fellow de Cirugía de Cabeza y Cuello</h4>
        <p>
          Hospital MD Anderson <br/>1989, Houston, Texas
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Fellow de Cirugía de Trauma Cráneo Facial</h4>
        <p>
          Hospital Johns Hopkins <br/>1991, Baltimore, Maryland
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Fellow de Cirugía Plástica Estética y Reconstructiva</h4>
        <p>
          Hospital Universitaire Brugmann, U.L.B. <br/>Clinique Edith Cavell <br/>
          Prof. Madeleine Lejour <br/>Bruselas, Bélgica <br/>Marzo 1992 – Agosto 1992
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Fellow de Cirugía Plástica Estética y Reconstructiva</h4>
        <p>
          Hospital Ángeles del Pedregal <br/>Prof. Fernando Ortiz Monasterio <br/>
          México, DF. <br/>Septiembre 1992 – Abril 1993
        </p>
      </div>
    </div>
  </div>
</div>
