<div class="row featurette">
  <div class="col-md-12">
    <div class="row lower-subtitles">
        <h3>Conferencias y Ponencias</h3>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h4>XIV Congreso de la Federación Íbero latinoamericana de Cirugía Plástica</h4>
        <p>
          Circular Lipectomy with Lateral Thigh-Buttock Lift<br>
          Octubre 2002<br>
          Cancún, México
        </p>
      </div>
      <div class="col-sm-3">
        <h4>XXXIV Congreso Nacional de Cirugía Plástica, Estética y Reconstructiva, A.C.</h4>
        <p>
          Reconstrucción Auricular Curva de Aprendizaje <br>
          Febrero 2003<br>
          León, Guanajuato
        </p>
      </div>
      <div class="col-sm-3">
        <h4>XXXIV Congreso Nacional de Cirugía Plástica, Estética y Reconstructiva, A.C.</h4>
        <p>
          Lipectomia Circular con Levantamiento de Glúteos y Muslo Externo <br>
          Febrero 2003<br>
          León, Guanajuato
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Sociedad de Cirugía Plástica Estética y Reconstructiva de Occidente A.C.</h4>
        <p>
          Lipectomia Circular con Levantamiento de Glúteo y Muslo Externo <br>
          Febrero 2004<br>
          Guadalajara, Jalisco
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h4>Instituto Jalisciense de Cirugía Reconstructiva "José Guerrerosantos"</h4>
        <p>
          Lipectomia Circular con Levantamiento de Glúteo y Muslo Externo <br>
          Febrero 2004<br>
          Guadalajara, Jalisco
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Asociación de Cirugía Plástica y Reconstructiva de Baja California, A.C.</h4>
        <p>
          Lipectomia Circular con Levantamiento de Glúteo y Muslo Externo <br>
          Agosto 2004<br>
          Tijuana, B.C.
        </p>
      </div>
      <div class="col-sm-3">
        <h4>XXXVI Congreso Nacional de Cirugía Plástica, Estética y Reconstructiva, A.C.</h4>
        <p>
          Asociación Mexicana de Cirugía Plástica, Estética y Reconstructiva, A.C.<br>
          Levantamiento y Remodelación de Glúteos y Muslo Externo<br>
          Mayo 2005<br>
          Boca del Río, Veracruz <br>
          Profesor Invitado
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Asociación Mexicana de Cirugía Plástica Estética y Reconstructiva, A.C.</h4>
        <p>
          Cirugía del Contorno Corporal en Pacientes Obesos y con Perdidas Masivas de Peso (Múltiples Lipectomias)<br>
          Mayo 2005<br>
          Boca del Río, Veracruz
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h4>Asociación Mexicana de Cirugía Plástica Estética y Reconstructiva, A.C.</h4>
        <p>
          Levantamiento y Remodelación de Glúteos y Muslo Externo<br>
          Agosto 2005<br>
          Guadalajara, Jalisco
        </p>
      </div>
      <div class="col-sm-3">
        <h4>XXXV Reunión Anual, Asociación de Médicos Exresidentes y Residentes de Cirugía Plástica y Reconstructiva “Dr. Fernando Ortiz Monasterio”</h4>
        <p>
          Cirugía del Contorno Corporal en Pacientes Obesos y con Perdidas Masivas de Peso<br>
          Febrero 2006<br>
          México, DF.<br>
          Profesor Invitado
       </p>
      </div>
      <div class="col-sm-3">
        <h4>Asociación Mexicana de Cirugía  Plástica Estética y Reconstructiva “Comité de Educación Medica Continua”</h4>
        <p>
          Lipectomia Circular con Levantamiento de Glúteos y Muslo Externo<br>
          Febrero 2006<br>
          México, DF.<br>
          Profesor Invitado
        </p>
      </div>
      <div class="col-sm-3">
        <h4>III Congreso Internacional de Cirugía Plástica
        Colegio Noreste de Cirugía Plástica, Estética y Reconstructiva, A.C.</h4>
        <p>
          Levantamiento y Remodelación de Glúteos y Muslo Externo<br>
          Marzo/Abril 2006<br>
          Monterrey, Nuevo León<br>
          Profesor Invitado
      </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h4>XXXVII Congreso Nacional de Cirugía Plástica, Estética y Reconstructiva, A.C.</h4>
        <p>
          Asociación Mexicana de Cirugía Plástica, Estética y Reconstructiva, A.C.<br>
          Levantamiento y Remodelación de Glúteos y Muslo Externo<br>
          Mayo 2006<br>
          Tijuana, B.C.<br>
          Profesor Invitado
        </p>
      </div>
      <div class="col-sm-3">
        <h4>XXXVII Congreso Nacional de Cirugía Plástica, Estética y Reconstructiva, A.C.</h4>
        <p>
          Asociación Mexicana de Cirugía Plástica, Estética y Reconstructiva, A.C.<br>
          Cirugía del Contorno Corporal en Pacientes Obesos y con Perdidas Masivas de Peso<br>
          Mayo 2006<br>
          Tijuana, B.C.<br>
          Profesor Invitado
        </p>
      </div>
    </div>
  </div>
</div>
