<div class="row featurette">
  <div class="col-md-12">
    <div class="row lower-subtitles">
        <h3>Certificaciones</h3>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h4>Educational Comision for Foreign Medical Graduates</h4>
        <p>
          Noviembre 1983
        </p>
      </div>
      <div class="col-sm-3">
        <h4>Certificación del Consejo Mexicano de Cirugía General</h4>
        <p>Julio 1989, México, DF.</p>
      </div>
      <div class="col-sm-3">
        <h4>Certificación del Consejo Mexicano de Cirugía Plástica Estética y Reconstructiva, A.C.</h4>
        <p>Febrero 1992, México, DF.</p>
      </div>
      <div class="col-sm-3">
        <h4 class="">Recertificación del Consejo Mexicano de Cirugía Plástica Estética y Reconstructiva , A.C.</h4>
         <p>Marzo de 1995 a Marzo del 2000</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h4>Recertificación del Consejo Mexicano de Cirugía Plástica Estética y Reconstructiva, A.C.</h4>
        <p>Marzo del 2000 a Marzo del 2005</p>
      </div>
      <div class="col-sm-3">
        <h4>Recertificación del Consejo Mexicano de Cirugía Plástica Estética y Reconstructiva, A.C.</h4>
        <p>Marzo del 2005 a Marzo del 2010</p>
      </div>
      <div class="col-sm-3">
        <h4>Recertificación del Consejo Mexicano de Cirugía Plástica Estética y Reconstructiva, A.C.</h4>
        <p>Marzo del 2010 a Marzo del 2015</p>
      </div>
      <div class="col-sm-3">
        <h4>Recertificación del Consejo Mexicano de Cirugía Plástica Estética y Reconstructiva, A.C.</h4>
        <p>Marzo del 2015 a Marzo del 2020</p>
      </div>
    </div>
  </div>
</div>
