<div class="row featurette">
  <div class="col-md-12">
    <div class="row lower-subtitles">
        <h3>Publicaciones</h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>Educational Comision for Foreign Medical Graduates</h4>
        <p>
          Noviembre 1983
        </p>
      </div>
      <div class="col-sm-6">
        <h4>Certificación del Consejo Mexicano de Cirugía General</h4>
        <p>Julio 1989, México, DF.</p>
      </div>
    </div>
  </div>
</div>
