<% provide(:title, "Contact" ) %>

<h1>Contáctanos</h1>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="contact-block">
      <h4>Clínica de Cirugía Plástica Estética y Reconstructiva</h4>
      <span>Belisario Domínguez # 2501</span> <br>
      <span>Colonia Obispado, Monterrey, Nuevo León , México</span> <br>
      <span>C.P.  64060  1er Piso</span><br>
        <span>Tels (Fax) : (81) 8348-9666  y  (81) 8348-7905</span><br>
        <span>E-mail: drhectormorales@hotmail.com</span><br>
        <span>Web site: cercirugiaplastica.com.mx</span><br>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
