<% provide(:title, "Home") %>
<div class="main-block-section">
  <h1>CER Cirugía Plástica</h1>

  <div class="row">
    <div class="col-sm-5">
      <%= image_tag("cer_logo.png", alt: "CER Logo", :class => "main-logo") %>
    </div>
    <div class="col-sm-7 main-intro">
      <p>
        CER Cirugía Plástica, Estética y Reconstructiva, ofrece los mejores medios para la realización de intervenciones de
        Cirugía Plástica, Estética y Reconstructiva.
      </p>
      <p>
        El paciente es intervenido en nuestra Clínica la cual cuenta con el equipo, material e instrumental quirúrgico de la
        más alta tecnología para brindarle la seguridad que usted se merece.
      </p>
      <p>
        La Clínica CER Cirugía Plástica, Estética y Reconstructiva, ofrece todas las garantías, y esta a cargo de ella
        el Dr. Héctor Javier Morales Gracia, Cirujano Plástico, certificado por el Consejo Mexicano de Cirugía Plástica,
         Estética y Reconstructiva, miembro activo de la Asociación Mexicana de Cirugía Plástica, Estética y Reconstructiva,
         A.C., (AMPCER), y el Dr. Humberto Moreno Garza,  Anestesiólogo especializado en anestesias para Cirugía Plástica,
         Estética y Reconstructiva, certificado por el Consejo y con más de 15 años de experiencia.
      </p>
      <p>
        El equipo de enfermería con que cuenta la clínica es altamente especializado en la atención del paciente de cirugía
        plástica, y trabaja con nuestro equipo desde hace 9 años. Por esto le podemos garantizar que su cirugía va a ser
        realizada en la condición más favorable posible y con el resultado que usted desea.
      </p>
    </div>
  </div>
</div>
